__pycache__
ckpt-*.pt
tmp
.env
.vscode
_build
_static
_templates
build
core.*
lib
*.o
*.so
*/transom_snapshot_server
*/transom_snapshot_cli
*.pem
*.pb.*
transomSnapshot.egg-info
.eggs
dist
docs/latex
docs/html